*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.categories-emoji span{
    font-size: 20px;
}
h1{
    width: 100vh;
    font-size: 20px;
    line-height: 60px;
}
.result span{
    font-size: 70px;
}